body {
    background: rgb(246, 246, 246);
}

#calculatrice {
    height: 400px;
    width: 250px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 3px grey, -1px -1px 3px white;
    padding: 30px;
}

#entete {
    width: 220px;
    height: 20%;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px grey, inset -1px -1px 3px white;
    padding-right: 30px;
    text-align: right;
    line-height: 100px;
    font-size: 24px;
    font-weight: bold;
}

#boutons {
    width: 100%;
    height: 70%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 10px;
}

.btn {
    width: 50px;
    height: 50px;
    box-shadow: inset 1px 1px 3px grey, inset -1px -1px 3px white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    opacity: .7;
}

.red {
    color: white;
    background: red;
    width: 115px;
}

.green {
    color: white;
    background: rgb(71, 223, 71);
    height: 110px;
    opacity: 1;
}

.bleu {
    color: white;
    background: blue;
    opacity: 1;
}

.trio {
    display: flex;
    column-gap: 15px;
}

#second {
    margin-top: -60px;
}